<!DOCTYPE html>
<style>
    body {
  background-image: url('/static/background_imgs/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  text-align: center;
}
h1 {
    color: aliceblue;
}
h2{
    color: brown;
}
.name {
    padding-top: 20%;
}
</style>
<body>
    <div class="name">

<h1>Welcome to the criminal database.</h1><br>
    <form method="post" action="/">
        <input type="submit" value="CREATE PERSON GROUP" name="action1"/>
        <input type="submit" value="DELETE PERSON GROUP" name="action2"/>
    </form><br>
    <h2>Add or remove people <br>
        from our criminal recognition system</h2>
</div>
</body>

